<ul type="none">
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>

<div class="row">
  <div class="col-3 d-flex flex-column">
    <div class="dropdown">
      <a class="d-flex align-items-center btn btn-light bg-white dropdown-toggle" href="#" role="button"
        id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
        <div>
          <img class="rounded-circle" height="40px" src="./assets/images/faces/face (9).jpg" alt="">
        </div>
        <span class="text-start px-3 w-100">
          TeamName
        </span>
      </a>

      <ul class="dropdown-menu w-100" aria-labelledby="dropdownMenuLink">
        <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
        href="#">
        <div class="d-flex align-items-center text-secondary">
          <i class="fa fa-user-plus"></i>
          <div class="ms-3 text-secondary">
            <span>Invite People</span>
          </div>
        </div>
        </a>
        <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
        href="#">
        <div class="d-flex align-items-center text-secondary ">
          <i class="fa fa-plus-square"></i>
          <div class="ms-3 text-secondary">
            <span>Creat Chanel</span>
          </div>
        </div>
        </a>
        <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
        href="#">
        <div class="d-flex align-items-center text-secondary">
          <i class="fa fa-server"></i>
          <div class="ms-3 text-secondary">
            <span>Server Settings</span>
          </div>
        </div>
        </a>
        <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
        href="#">
        <div class="d-flex align-items-center text-secondary">
          <i class="fa fa-bell"></i>
          <div class="ms-3 text-secondary">
            <span>Notification Settings</span>
          </div>
        </div>
        </a>
        <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
        href="#">
        <div class="d-flex align-items-center text-secondary">
          <i class="fa fa-bolt"></i>
          <div class="ms-3 text-secondary">
            <span>Privaten Settings</span>
          </div>
        </div>
        </a>
        <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
        href="#">
        <div class="d-flex align-items-center text-secondary">
          <i class="fa fa-pencil-alt"></i>
          <div class="ms-3 text-secondary">
            <span>Edit Team Detailes</span>
          </div>
        </div>
        </a>
        <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
        href="#">
        <div class="d-flex align-items-center text-secondary">
          <i class="fa fa-user-plus"></i>
          <div class="ms-3 text-secondary">
            <span>Hide Muted Channels</span>
          </div>
        </div>
        </a>
      </ul>
    </div>

    <div class="py-3 d-flex align-items-baseline justify-content-between text-secondary">
      <span><small>ADD CHANNELS</small></span>
      <button class="btn">
        <i class="fa fa-plus-circle"></i>
      </button>
    </div>

    <ul class="list-group list-group-flush">
      <a class="list-group-item list-group-item-action text-secondary" href="#">
       <strong># general</strong>
      </a>
      <a class="list-group-item list-group-item-action  text-secondary" href="#">
       <strong># engineering</strong>
      </a>
      <a class="list-group-item list-group-item-action text-secondary d-flex justify-content-between " href="#">
       <strong># products</strong>
       <div>
        <span class="badge bg-danger rounded-pill">2</span>
       </div>
      </a>
    </ul>

    <div class="py-3 d-flex align-items-baseline justify-content-between text-secondary">
      <span><small>DIRECT MESSAGES</small></span>
    </div>

    <ul class="list-group list-group-flush border-bottom">
      <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
        href="#">
        <div class="d-flex align-items-center">
          <img class="rounded-circle" src="./assets/images/faces/face (1).jpg" alt="" width="48">
          <div class="ms-3">
            <b class="d-block">#df_bot</b>
            <span>5min ago</span>
          </div>
        </div>
      </a>
      <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
        href="#">
        <div class="d-flex align-items-center">
          <img class="rounded-circle" src="./assets/images/faces/face (2).jpg" alt="" width="48">
          <div class="ms-3">
            <b class="d-block">situmay</b>
            <span>1 hour ago</span>
          </div>
        </div>
      </a>
      <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
        href="#">
        <div class="d-flex align-items-center">
          <img class="rounded-circle" src="./assets/images/faces/face (3).jpg" alt="" width="48">
          <div class="ms-3">
            <b class="d-block">situmay</b>
            <span>1 hour ago</span>
          </div>
        </div>
        <span class="badge bg-danger rounded-pill">14</span>
      </a>
      <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
        href="#">
        <div class="d-flex align-items-center">
          <img class="rounded-circle" src="./assets/images/faces/face (4).jpg" alt="" width="48">
          <div class="ms-3">
            <b class="d-block">acantones</b>
            <span>2 hours ago</span>
          </div>
        </div>
      </a>
    </ul>

    <ul class="mt-auto list-group list-group-flush border-bottom">
      <li class="list-group-item align-items-center">
        <div class="d-flex align-items-center justify-content-between">
          <div class="d-flex align-items-center">
            <img class="rounded-circle" src="./assets/images/faces/face (5).jpg" alt="" width="36">
            <b class="d-block ms-3">Katherina</b>
          </div>
          <div class="">
            <a href="#" class="text-decoration-none text-secondary">
              <i class="fa fa-microphone"></i>
            </a>
            <a href="#" class="text-decoration-none text-secondary">
              <i class="fa fa-cog"></i>
            </a>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="col-9">
    <div class="bg-white d-flex align-items-center justify-content-between py-2 px-3">
      <span><strong>#general</strong></span>
      <div class="d-flex align-items-center">
        <button class="btn">
          <span class="text-secondary"><i class="fa fa-user"></i></span>
        </button>
        <button class="btn">
         <span class="text-secondary"><i class="fa fa-user-friends"></i></span>
        </button>
        <div class="d-flex" style="width: 250px">
          <input type="text" class="form-control " name="x" placeholder="Search">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">
              <i class="fa fa-search"></i>
            </button>
          </span>
        </div>
        <button class="btn">
           <span class="text-secondary"><i class="fa fa-ellipsis-v"></i></span>
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-9">
        <div class="d-flex justify-content-start">
          <div class="card">
            <div class="card-body d-flex">
              <img src="./assets/images/faces/face (1).jpg" alt="" class="rounded-circle" width="35px" height="35px">
              <div class="ms-3 d-flex flex-column">
                <span><strong>Katherina</strong><small class="text-secondary ms-2">Today at 1:30am</small></span>
                <span class="text-secondary">
                  Hello everyone, this is my first message to this channel <br> anybody here?
                </span>
              </div>
            </div>
          </div>
        </div>

        <div class="d-flex justify-content-end">
          <div class="card">
            <div class="card-body d-flex">
              <img src="./assets/images/faces/face (2).jpg" alt="" class="rounded-circle" width="35px" height="35px">
              <div class="ms-3 d-flex flex-column">
                <span><strong>situmay</strong><small class="text-secondary ms-2">Yesterday at 4:15am</small></span>
                <span class="text-secondary">
                  Excepteur sint occaecat cupidatat non proident
                  <br>
                  Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse...
                </span>
              </div>
            </div>
          </div>
        </div>

        <div class="d-flex justify-content-start">
            <div class="card">
              <div class="card-body d-flex">
                <img src="./assets/images/faces/face (6).jpg" alt="" class="rounded-circle" width="35px" height="35px">
                <div class="ms-3 d-flex flex-column">
                  <span><strong>rlabares</strong><small class="text-secondary ms-2">Yesterday at 4:10am</small></span>
                  <span class="text-secondary">
                    Nam libero tempore, cum soluta nobis
                  </span>
                </div>
              </div>
            </div>
          </div>
                      
        <div class="d-flex justify-content-end">
          <div class="card">
            <div class="card-body d-flex">
              <img src="./assets/images/faces/face (9).jpg" alt="" class="rounded-circle" width="35px" height="35px">
              <div class="ms-3 d-flex flex-column">
                <span><strong>situmay</strong><small class="text-secondary ms-2">today at 4:15am</small></span>
                <span class="text-secondary">
                  I'm back once again!!
                   <br>
                  Et harum quidem rerum facilis est et expedita distinctio.
                </span>
              </div>
            </div>
          </div>
        </div>
         
        <div class="d-flex justify-content-start">
          <div class="card">
            <div class="card-body d-flex">
              <img src="./assets/images/faces/face (10).jpg" alt="" class="rounded-circle" width="35px" height="35px">
              <div class="ms-3 d-flex flex-column">
                <span><strong>katherine </strong><small class="text-secondary ms-2">Yesterday at 4:10am</small></span>
                <span class="text-secondary">
                  I'm back once again!!
                </span>
              </div>
            </div>
          </div>
        </div>
                   

        
      </div>
      <div class="col-3">
        <div class="py-3 d-flex align-items-baseline justify-content-between text-secondary">
          <span>MEMBERS LIST</span>
        </div>

        <ul class="list-group list-group-flush border-bottom">
          <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
            href="#">
            <div class="d-flex align-items-center">
              <img class="rounded-circle" src="./assets/images/faces/face (12).jpg" alt="" width="35">
              <div class="ms-3">
                <b class="d-block">dfbot</b>
              </div>
            </div>
          </a>
          <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
            href="#">
            <div class="d-flex align-items-center">
              <img class="rounded-circle" src="./assets/images/faces/face (6).jpg" alt="" width="35">
              <div class="ms-3">
                <b class="d-block">situmay</b>
              </div>
            </div>
          </a>
          <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
            href="#">
            <div class="d-flex align-items-center">
              <img class="rounded-circle" src="./assets/images/faces/face (7).jpg" alt="" width="35">
              <div class="ms-3">
                <b class="d-block">acantones</b>
              </div>
            </div>
          </a>
          <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
            href="#">
            <div class="d-flex align-items-center">
              <img class="rounded-circle" src="./assets/images/faces/face (9).jpg" alt="" width="35">
              <div class="ms-3">
                <b class="d-block">rlabares</b>
              </div>
            </div>
          </a>
          <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
            href="#">
            <div class="d-flex align-items-center">
              <img class="rounded-circle" src="./assets/images/faces/face (15).jpg" alt="" width="35">
              <div class="ms-3">
                <b class="d-block">h.owen</b>
              </div>
            </div>
          </a>
          <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
            href="#">
            <div class="d-flex align-items-center">
              <img class="rounded-circle" src="./assets/images/faces/face (17).jpg" alt="" width="35">
              <div class="ms-3">
                <b class="d-block">k.billie</b>
              </div>
            </div>
          </a>
          <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
            href="#">
            <div class="d-flex align-items-center">
              <img class="rounded-circle" src="./assets/images/faces/face (6).jpg" alt="" width="38">
              <div class="ms-3">
                <b class="d-block">m.audrey</b>
              </div>
            </div>
          </a>
          <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
            href="#">
            <div class="d-flex align-items-center">
              <img class="rounded-circle" src="./assets/images/faces/face (17).jpg" alt="" width="38">
              <div class="ms-3">
                <b class="d-block">m.audrey</b>
              </div>
            </div>
          </a>
        </ul>
      </div>
    </div>
    <div class="d-flex py-2 border mt-4 rounded align-items-center bg-white">
      <button class="btn">
       <span class="text-secondary"><i class="fa fa-plus"></i></span>
      </button>
      <div class="w-100">
        <input class="w-100" placeholder="Message">
      </div>
      <div class="d-flex">
        <button class="btn">
         <span class="text-secondary"><i class="fa fa-image"></i></span> 
        </button>
        <button class="btn">
          <span class="text-secondary"><i class="fa fa-gift"></i></span>
        </button>
        <button class="btn">
          <span class="text-secondary"><i class="fa fa-smile"></i></span>
        </button>
      </div>
    </div>
  </div>
</div>