<div class="row">
  <div class="col-3">
    <div>
      <div class="d-flex">
        <div class="w-100 btn-group">
          <button class="btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            New
          </button>
          <ul class="dropdown-menu">
            ...
          </ul>
        </div>
        <span class="mx-2"></span>
        <div class="w-100 btn-group">
          <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Upload
          </button>
          <ul class="dropdown-menu">
            ...
          </ul>
        </div>
      </div>

      <div>
        <h6 class="mt-3">MY DRIVE</h6>
        <div class="list-group list-group-flush">
          <a href="#" class="list-group-item list-group-item-action py-2 border-0 bg-light" aria-current="true">
            <i class="far fa-folder me-2"></i>
            All Files
          </a>
          <a href="#" class="list-group-item list-group-item-action py-2 border-0" aria-current="true">
            <i class="fas fa-desktop me-2"></i>
            My Device
          </a>
          <a href="#" class="list-group-item list-group-item-action py-2 border-0" aria-current="true">
            <i class="far fa-clock me-2"></i>
            Recents
          </a>
          <a href="#" class="list-group-item list-group-item-action py-2 border-0" aria-current="true">
            <i class="far fa-star me-2"></i>
            Important
          </a>
          <a href="#" class="list-group-item list-group-item-action py-2 border-0" aria-current="true">
            <i class="far fa-trash-alt me-2"></i>
            Deleted Files
          </a>
        </div>
      </div>

      <div>
        <h6 class="mt-3">FILE LIBRARY</h6>
        <div class="list-group list-group-flush">
          <a href="#" class="list-group-item list-group-item-action py-2 border-0" aria-current="true">
            <i class="far fa-file me-2"></i>
            Documents
          </a>
          <a href="#" class="list-group-item list-group-item-action py-2 border-0" aria-current="true">
            <i class="fas fa-image me-2"></i>
            Images
          </a>
          <a href="#" class="list-group-item list-group-item-action py-2 border-0" aria-current="true">
            <i class="fas fa-video me-2"></i>
            Videos
          </a>
          <a href="#" class="list-group-item list-group-item-action py-2 border-0" aria-current="true">
            <i class="fas fa-music me-2"></i>
            Audio
          </a>
          <a href="#" class="list-group-item list-group-item-action py-2 border-0" aria-current="true">
            <i class="fas fa-box me-2"></i>
            Zip Files
          </a>
        </div>
      </div>
      <h6 class="mt-3">STORAGE STATUS</h6>
      <div class="bg-white">

        <div class="d-flex">
          <i class=" py-1 px-3 h4 fas fa-database"></i>
          <div>

            <small>10.2GB used of 50GB</small>
            <div class="progress mt-1" style="height: 2px;">
              <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0"
                aria-valuemax="100"></div>
            </div>
          </div>
        </div>
        <div>


        </div>
      </div>
    </div>
  </div>
  <div class="col-9">
    <div class="d-flex">
      <div class="d-flex align-items-center">
        <div class="input-group">
          <span class="input-group-text" id="inputGroup-sizing-sm"><i class="fas fa-search"></i></span>
          <input type="text" class="form-control" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-sm" placeholder="Search for files and folders">
        </div>
      </div>
      <div class="d-flex ms-auto">
        <a href="#" class="p-2"><i class="fas fa-bars"></i></a>
        <a href="#" class="p-2"><i class="fas fa-exclamation-circle"></i></a>
        <a href="#" class="p-2"><i class="fas fa-cog"></i></a>
      </div>
    </div>

    <div class="mt-3">
      <h6><small>RECENTLY ACCESSED FILES</small></h6>
      <div class="row">
        <div class="col-3">
          <div class="p-1 bg-white rounded border">
            <div class="rounded border bg-light p-4">
              <div class="d-flex justify-content-center">
                <i class="far fa-file-pdf"></i>
              </div>
            </div>
            <div class="">
              <span>Medical Certificate.pdf</span>
              <p class="m-0">10.45kb</p>
              <small>Last accessed: 2 hours ago</small>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="p-1 bg-white rounded border">
            <div class="rounded border bg-light p-4">
              <div class="d-flex justify-content-center">
                <i class="far fa-file-word"></i>
              </div>
            </div>
            <div class="">
              <span>Medical Certificate.pdf</span>
              <p class="m-0">10.45kb</p>
              <small>Last accessed: 2 hours ago</small>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="p-1 bg-white rounded border">
            <div class="rounded border bg-light p-4">
              <div class="d-flex justify-content-center">
                <i class="far fa-file-image"></i>
              </div>
            </div>
            <div class="">
              <span>Medical Certificate.pdf</span>
              <p class="m-0">10.45kb</p>
              <small>Last accessed: 2 hours ago</small>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="p-1 bg-white rounded border">
            <div class="rounded border bg-light p-4">
              <div class="d-flex justify-content-center">
                <i class="far fa-file-word"></i>
              </div>
            </div>
            <div class="">
              <span>Medical Certificate.pdf</span>
              <p class="m-0">10.45kb</p>
              <small>Last accessed: 2 hours ago</small>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="mt-3">
      <h6 class=""><small>FOLDERS</small></h6>
      <div class="row">
        <div class="col">
          <div class="p-2 d-flex border rounded bg-white">
            <div class="h4 mx-3 d-flex align-items-center">
              <i class="far fa-folder"></i>
            </div>

            <div class="d-flex flex-column">
              <span><b>Downloads</b></span>
              <small>2 files, 14.05mb</small>
            </div>
            <div class="d-flex ms-auto">
              <i class="fas fa-ellipsis-v"></i>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="p-2 d-flex border rounded bg-white">
            <div class="h4 mx-3 d-flex align-items-center">
              <i class="far fa-folder"></i>
            </div>

            <div class="d-flex flex-column">
              <span><b>Downloads</b></span>
              <small>2 files, 14.05mb</small>
            </div>
            <div class="d-flex ms-auto">
              <i class="fas fa-ellipsis-v"></i>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="p-2 d-flex border rounded bg-white">
            <div class="h4 mx-3 d-flex align-items-center">
              <i class="far fa-folder"></i>
            </div>

            <div class="d-flex flex-column">
              <span><b>Downloads</b></span>
              <small>2 files, 14.05mb</small>
            </div>
            <div class="d-flex ms-auto">
              <i class="fas fa-ellipsis-v"></i>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="mt-3">
      <h6><small>FILES</small></h6>
      <div class="row">
        <div class="col-3">
          <div class="p-1 bg-white rounded border">
            <div class="rounded border bg-light p-4">
              <div class="d-flex justify-content-center">
                <i class="far fa-file-pdf"></i>
              </div>
            </div>
            <div class="">
              <span>Medical Certificate.pdf</span>
              <p class="m-0">10.45kb</p>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="p-1 bg-white rounded border">
            <div class="rounded border bg-light p-4">
              <div class="d-flex justify-content-center">
                <i class="far fa-file-word"></i>
              </div>
            </div>
            <div class="">
              <span>Medical Certificate.pdf</span>
              <p class="m-0">10.45kb</p>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="p-1 bg-white rounded border">
            <div class="rounded border bg-light p-4">
              <div class="d-flex justify-content-center">
                <i class="far fa-file-image"></i>
              </div>
            </div>
            <div class="">
              <span>Medical Certificate.pdf</span>
              <p class="m-0">10.45kb</p>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="p-1 bg-white rounded border">
            <div class="rounded border bg-light p-4">
              <div class="d-flex justify-content-center">
                <i class="far fa-file-word"></i>
              </div>
            </div>
            <div class="">
              <span>Medical Certificate.pdf</span>
              <p class="m-0">10.45kb</p>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-3">
        <div class="row">
          <div class="col-3">
            <div class="p-1 bg-white rounded border">
              <div class="rounded border bg-light p-4">
                <div class="d-flex justify-content-center">
                  <i class="far fa-file-pdf"></i>
                </div>
              </div>
              <div class="">
                <span>Medical Certificate.pdf</span>
                <p class="m-0">10.45kb</p>
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="p-1 bg-white rounded border">
              <div class="rounded border bg-light p-4">
                <div class="d-flex justify-content-center">
                  <i class="far fa-file-word"></i>
                </div>
              </div>
              <div class="">
                <span>Medical Certificate.pdf</span>
                <p class="m-0">10.45kb</p>
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="p-1 bg-white rounded border">
              <div class="rounded border bg-light p-4">
                <div class="d-flex justify-content-center">
                  <i class="far fa-file-image"></i>
                </div>
              </div>
              <div class="">
                <span>Medical Certificate.pdf</span>
                <p class="m-0">10.45kb</p>
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="p-1 bg-white rounded border">
              <div class="rounded border bg-light p-4">
                <div class="d-flex justify-content-center">
                  <i class="far fa-file-word"></i>
                </div>
              </div>
              <div class="">
                <span>Medical Certificate.pdf</span>
                <p class="m-0">10.45kb</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
