<div class="d-flex my-3">
  <h4 class="m-0">Contacts</h4>
  <nav class="ms-auto" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item"><a href="#">Library</a></li>
      <li class="breadcrumb-item active" aria-current="page">Data</li>
    </ol>
  </nav>
</div>
<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th scope="col">
        <div class="input-check">
          <input class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox">
        </div>
      </th>
      <th scope="col">Image</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Country</th>
      <th scope="col">Phone</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16]">
      <td>
        <div class="input-check">
          <input class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox">
        </div>
      </td>
      <td>
        <div>
          <img class="rounded-circle" src="./assets/images/faces/face ({{item}}).jpg" width="40" alt="">
        </div>
      </td>
      <td>
        <strong class="d-block">Felecia Burke</strong>
        <a>Founder & CEO</a>
      </td>
      <td>
        <span>example@mail.com</span>
      </td>
      <td>
        <span>Hong Kong, China</span>
      </td>
      <td>
        <span>+1(070) 1234567</span>
      </td>
    </tr>
  </tbody>
</table>