<div class="container">
  <nav id="main-nav" class="navbar navbar-light">
    <div class="navbar-brand">
      WG
      <sub class="text-primary">
        admin
      </sub>
    </div>
    <div class="d-flex align-items-center">
      <img class="rounded-circle" height="40" src="./assets/images/faces/face (1).jpg" alt="">
      <div class="ms-3">
        <button class="btn btn-primary">Logout</button>
      </div>
    </div>
  </nav>
  <div class="row">
    <div class="col-3">
      <nav class="sidebar">
        <div class="p-3 border bg-light">
          <h6 class="m-0">General</h6>
          <a href="">Dashboard, Widgets & layout.</a>
        </div>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href="#">Dashboards</a>
            <ul class="submenu">
              <li><a class="nav-link" href="#">Default</a></li>
              <li><a class="nav-link" href="#">Ecommerce</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Widgets</a>
            <ul class="submenu">
              <li><a class="nav-link" href="#">General</a></li>
              <li><a class="nav-link" href="#">Chart</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Page Layout</a>
            <ul class="submenu">
              <li><a class="nav-link" href="#">Default</a></li>
              <li><a class="nav-link" href="#">Boxed</a></li>
              <li><a class="nav-link" href="#">RTL</a></li>
              <li><a class="nav-link" href="#">LTR</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"> Something </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"> Other link </a>
          </li>
        </ul>
        <div class="p-3 border bg-light">
          <h6 class="m-0">Applications</h6>
          <a href="">Ready to use apps</a>
        </div>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href="#">Project</a>
            <ul class="submenu">
              <li><a class="nav-link" href="#">Project list</a></li>
              <li><a class="nav-link" href="#">Create new</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">File manager</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Kanban board</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Ecommerce</a>
            <ul class="submenu">
              <li><a class="nav-link" href="#">Product</a></li>
              <li><a class="nav-link" href="#">Product page</a></li>
              <li><a class="nav-link" href="#">Product list</a></li>
              <li><a class="nav-link" href="#">Payment details</a></li>
              <li><a class="nav-link" href="#">Order history</a></li>
              <li><a class="nav-link" href="#">Invoice</a></li>
              <li><a class="nav-link" href="#">Cart</a></li>
              <li><a class="nav-link" href="#">Wishlist</a></li>
              <li><a class="nav-link" href="#">Checkout</a></li>
              <li><a class="nav-link" href="#">Pricing</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Email</a>
            <ul class="submenu">
              <li><a class="nav-link" href="#">Email app</a></li>
              <li><a class="nav-link" href="#">Email compose</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Chat</a>
            <ul class="submenu">
              <li><a class="nav-link" href="#">Chat app</a></li>
              <li><a class="nav-link" href="#">Video chat</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Users</a>
            <ul class="submenu">
              <li><a class="nav-link" href="#">Users profile</a></li>
              <li><a class="nav-link" href="#">Users edit</a></li>
              <li><a class="nav-link" href="#">Users cards</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Bookmarks</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contacts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Tasks</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Calendar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Social app</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">To-Do</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Search result</a>
          </li>
        </ul>
        <div class="p-3 border bg-light">
          <h6 class="m-0">Forms & Table</h6>
          <a href="">Ready to use forms & tables</a>
        </div>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href="#">Forms</a>
            <ul class="submenu">
              <li><a class="nav-link" href="#">Form controls</a></li>
              <li><a class="nav-link" href="#">Form widgets</a></li>
              <li><a class="nav-link" href="#">Form layout</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Tables</a>
            <ul class="submenu">
              <li><a class="nav-link" href="#">Bootstrap tables</a></li>
              <li><a class="nav-link" href="#">Data tables</a></li>
              <li><a class="nav-link" href="#">Js grid table</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
    <div class="col-9">
      <ng-content></ng-content>
    </div>
  </div>
</div>
