.sidebar {
  /* background-color: #eee; */
}
.sidebar ul {
  /* background-color: #eee; */
  /* border-bottom: 1px solid #000; */
}
.nav-link {
  /* border: 1px solid #ccc; */
}
.sidebar li .submenu{ 
	list-style: none; 
	margin: 0; 
	padding: 0; 
	/* padding-left: 1rem;  */
	/* padding-right: 1rem; */
}

.sidebar .submenu li a {
  padding: 7px 25px;
  font-size: 14px;
  color: rgba(43,43,43,0.6);
  display: block;
  position: relative;
  letter-spacing: 0.06em;
  font-weight: 500;
  font-family: Roboto;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sidebar .submenu li a::after {
  position: absolute;
  content: "";
  top: 48%;
  width: 6px;
  border-top: 2px solid #595c60;
  left: 10px;
}