@import "variables";

// Badge

.badge {
  display: $d-inline;
  color: $color-1;
  background-color: $color-0;
  padding: $padding-2;
  border-radius: $border-1;

  // &.sm {
  //   // font-size: $font-size-0;
  // }
}
