// Colors
$white: #ffffff;
$black-900: #000000;
$black-500: #353232;
$black-100: #585555;
$red-900: #fc0101;
$red-500: #f74444;
$red-100: #f57272;
$blue-900: #0387d3;
$blue-500: #099df3;
$blue-100: #9ad9fd;
$gray-900: #a1a1a1;
$gray-500: #cacaca;
$gray-100: #f0f0f0;
$yellow-900: #e7eb00;
$yellow-500: #f3f577;
$yellow-100: #f5f7a9;
$green-900: #1cf300;
$green-500: #7af769;
$green-100: #b1fda7;

// Font
$font-0: "Helvetica Neue", Helvetica, Arial, sans-serif;

// Padding
$p-0: 0;
$p-1: 4px;
$p-2: 8px;
$p-3: 12px;
$p-4: 16px;
$p-5: 20px;
$p-6: 24px;

// Margin
$m-0: 0;
// .mg-0{}
// .mg-1{}
// .mg-2{}

// Display
$d-inline: inline;
$d-block: block;
$d-flex: flex;
$d-inline-block: block;

// Borders
$border-0: 0px;
$border-1: 4px;
$border-2: 8px;
$border-3: 16px;
// Font weight
$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-bold: 700 !default;

// Font size
$fs-2: 8px;
$fs-3: 12px;
$fs-4: 16px;
$fs-5: 20px;
$fs-6: 24px;

// Font weight

// Border radius
$rounded: 4px;
$rounded-circle: 50%;

// Border width
.bw-0 {
}
.bw-1 {
}

// Border color
.bc-0 {
}
.bc-1 {
}

// Border style
.bs-0 {
}
.bs-1 {
}

// Background color
$bg-white: #ffffff;
$bg-black-900: #000000;
$bg-black-500: #353232;
$bg-black-100: #585555;
$bg-red-900: #fc0101;
$bg-red-500: #f74444;
$bg-red-100: #f57272;
$bg-blue-900: #0387d3;
$bg-blue-500: #099df3;
$bg-blue-100: #6ac7fd;
$bg-gray-900: #a1a1a1;
$bg-gray-500: #cacaca;
$bg-gray-100: #f0f0f0;
$bg-yellow-900: #e7eb00;
$bg-yellow-500: #f3f577;
$bg-yellow-100: #f5f7a9;
$bg-green-900: #1cf300;
$bg-green-500: #7af769;
$bg-green-100: #b1fda7;

// Text color
.tc-0 {
}
.tc-1 {
}

// Display
.d-flex {
  display: flex;
}
.d-inline {
  display: inline;
}
.d-inline-block {
  display: inline-block;
}
.d-block {
  display: block;
}

// Position
.p-0 {
}
.p-1 {
}

// Float
.f-0 {
}
.f-1 {
}

// Clear
.c-0 {
}

// Overflow
.o-0 {
}
.o-1 {
}

// Visibility
.v-0 {
}
.v-1 {
}

// Z-index
.z-0 {
}
.z-1 {
}

// Width
.w-25 {
    width: 25%;
}
.w-50 {
    width: 50%;
}
.w-75 {
    width: 75%;
}
.w-100 {
    width: 100%;

}

// Height
.h-0 {
}
.h-1 {
}

// Max-width
// Max-height
// Min-width
// Min-height

// Flex
.fl-0 {
}
.fl-1 {
}

// Flex-grow
// Flex-shrink
// Flex-basis
// Flex-direction
// Flex-wrap
// Flex-flow
// Justify-content

// Table
.t-0 {
}
.t-1 {
}

// Table-layout
// Caption-side

// List
.l-0 {
}
.l-1 {
}

// List-style
// List-style-type

$duration: all 0.3s ease;
// Cursor

// Button
// $buttonPadding: $padding-4;
// $buttonColor: $color-1;
