// Colors
$color-0: #000;
$color-1: #fff;
$color-2: #f00;

// Font
$font-0: 'Helvetica Neue', Helvetica, Arial, sans-serif;

// Padding
$padding-0: 0;
$padding-1: 1rem;
$padding-2: 2rem;
// .pd-0{}
// .pd-1{}
// .pd-2{}
// .pd-3{}
// .pd-4{}

// Margin
$margin-0: 0;
// .mg-0{}
// .mg-1{}
// .mg-2{}

// Font size
.fs-0 {
}
.fs-1 {
}

// Font weight
.fw-0 {
}
.fw-1 {
}

// Border radius
.br-0 {
}
.br-1 {
}

// Border width
.bw-0 {
}
.bw-1 {
}

// Border color
.bc-0 {
}
.bc-1 {
}

// Border style
.bs-0 {
}
.bs-1 {
}

// Background color
.bg-0 {
}
.bg-1 {
}

// Text color
.tc-0 {
}
.tc-1 {
}

// Display
.d-0 {
}
.d-1 {
}

// Position
.p-0 {
}
.p-1 {
}

// Float
.f-0 {
}
.f-1 {
}

// Clear
.c-0 {
}

// Overflow
.o-0 {
}
.o-1 {
}

// Visibility
.v-0 {
}
.v-1 {
}

// Z-index
.z-0 {
}
.z-1 {
}

// Width
.w-0 {
}
.w-1 {
}

// Height
.h-0 {
}
.h-1 {
}

// Max-width
// Max-height
// Min-width
// Min-height

// Flex
.fl-0 {
}
.fl-1 {
}

// Flex-grow
// Flex-shrink
// Flex-basis
// Flex-direction
// Flex-wrap
// Flex-flow
// Justify-content

// Table
.t-0 {
}
.t-1 {
}

// Table-layout
// Caption-side

// List
.l-0 {
}
.l-1 {
}

// List-style
// List-style-type

// Cursor

// Button
$buttonPadding: $padding-2;
$buttonColor: $color-1;
