// width and height
$width-100: 100%;
$min-height-200: 200px;
$w-checkbox: 16px;
$h-checkbox: 16px;

//display
$display-b: block;

//padding
$p-5: 5px;
$p-40: 40px;
$p-10: 10px;

//colors
$black: #212529;
$white: #fff;
$lightsmoke: #dee2e6;
$border-lightblue: #86b7fe;
$box-shadow-lightblue: rgba(13, 110, 253, 0.25);
$blue: #0d6efd;

//font styles
$font-familiy: Arial, Helvetica, sans-serif;
$fs-16: 16px;
$fw-400: 400;
$lh-1-5: 1.5;

//border styles
$border-1: 1px;
$border-rad-5: 5px;

//transition
$transition-0-15: 0.15s;

//box-shadow
$box-shad-5: 5px;

// background position of select
$bg-pos-select: right 10px center;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.input-container {
  padding: 20px;
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 50px;
}

.select-box-container {
  width: 20%;
  margin: 20px;
}

.checkbox-container {
  margin: 20px;
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.checkbox-container--inline {
  margin: 20px;
  display: flex;
  gap: 20px;
}

.input {
  width: $width-100;
  display: $display-b;
  padding: $p-5 $p-10;
  color: $black;
  background-color: $white;
  font-family: $font-familiy;
  font-size: $fs-16;
  font-weight: $fw-400;
  line-height: $lh-1-5;
  border: 1px solid $lightsmoke;
  border-radius: $border-rad-5;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  transition: border-color $transition-0-15 ease-in-out,
    box-shadow $transition-0-15 ease-in-out;

  &:focus {
    border-color: $border-lightblue;
    box-shadow: 0 0 0 $box-shad-5 $box-shadow-lightblue;
    outline: none;
  }
}

textarea.input {
  min-height: $min-height-200;
}

.select {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
  display: $display-b;
  width: $width-100;
  padding: $p-5 $p-40 $p-5 $p-10;
  font-size: $fs-16;
  font-weight: $fw-400;
  line-height: $lh-1-5;
  color: $black;
  background-color: $white;
  background-repeat: no-repeat;
  background-position: $bg-pos-select;
  background-size: 16px 12px;
  border: $border-1 solid $lightsmoke;
  border-radius: $border-rad-5;
  word-wrap: normal;
  text-transform: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  transition: border-color $transition-0-15 ease-in-out,
    box-shadow $transition-0-15 ease-in-out;

  &:focus {
    border-color: $border-lightblue;
    box-shadow: 0 0 0 $box-shad-5 $box-shadow-lightblue;
    outline: none;
  }
}

.checkbox {
  vertical-align: top;
  width: $w-checkbox;
  height: $h-checkbox;
  border-radius: $border-rad-5;
  border: $border-1 solid $lightsmoke;
  appearance: none;
  &:checked {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
    background-color: $blue;
    color: $blue;
    box-shadow: 0 0 0 $box-shad-5 $box-shadow-lightblue;
    outline: none;
  }

  &:active {
    filter: brightness(90%);
  }
}

.label {
  input {
    &:disabled {
      background: $lightsmoke;
      color: red;
    }
  }
}
